:root {
  /*===== Fuente y Tipografía =====*/
  --body-font: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue';
  /*===== PRIMARY =====*/
  --background: #ffff90;
  --background-glass: hsla(0, 0%, 100%, 0.1);
  --backdrop-filter: blur(25px);
  --font-color: #000;
  --border-radius: 0.375rem;
  --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  /*===== Colores =====*/
  --first-color: #64b1ff;
  --input-color: #c1c4c6;
  --border-color: #000;
  --placeholder-color: #333;
  --success: #2ecc71;
  --error: #f66f5f;
  --alert: #fff82d;

  /*===== Fuente y tipografia =====*/
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.8rem;
  --input-font-size: 1.2rem;
}
