<!DOCTYPE html>
<html lang="">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0">
    <!--========== GOOGLE FONTS ==========-->
    <link rel="preconnect"
          href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap"
          rel="stylesheet">
    <!--========== ICONS TO SUPPORT MATERIAL DESIGN ==========-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Two+Tone|Material+Icons+Sharp">
    <!--========== FAVICONS ==========-->
    <link rel="icon"
          href="<%= BASE_URL %>favicon.ico">
    <title>
      THE RICK AND MORTY API
    </title>
  </head>

  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title
            %> doesn't work properly without JavaScript enabled. Please enable it to
          continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>

</html>
