<template>
  <ListCharacter :list-characters="dataLocalStorage" />
</template>

<script>
import ListCharacter from '@/components/ListCharacter.vue';
import { useLocalStorage } from '../hooks/useLocalStorage';
export default {
  components: { ListCharacter },
  setup() {
    const KEY = 'ListCharacter';
    const dataLocalStorage = useLocalStorage(KEY);
    return { dataLocalStorage };
  },
};
</script>

<style lang="scss" scoped></style>
