<template>
  <section class="home">
    <BaseSearch v-model="search" />
    <ListCharacter :list-characters="listCharacters" />
  </section>
</template>

<script>
import BaseSearch from '../components/base/BaseSearch.vue';
import ListCharacter from '@/components/ListCharacter.vue';
import { ref, watchEffect } from '@vue/runtime-core';
export default {
  name: 'Home',
  components: { BaseSearch, ListCharacter },
  setup() {
    const listCharacters = ref([]);
    const search = ref('');

    const loadData = async () => {
      const response = await fetch(
        `https://rickandmortyapi.com/api/character/?name=${search.value}`
      );
      const data = await response.json();
      listCharacters.value = data.results;
    };

    watchEffect(async () => {
      await loadData();
    });
    return {
      listCharacters,
      search,
    };
  },
};
</script>
<style lang="scss" scoped></style>
