<template>
  <section class="login">
    <form class="container-form" @submit.prevent="onSubmit">
      <h1 class="container-form__title">{{ titleForm }}</h1>
      <div class="container-form__wrapper">
        <BaseInput v-model="email" type="email" name="Email" placeholder="example@example.com" />
        <BaseInput v-model="password" type="password" name="Password" placeholder="******" />
      </div>
      <BaseButton type="submit" text="Enviar" />
    </form>
  </section>
</template>

<script>
import BaseInput from '@/components/base/BaseInput.vue';
import { reactive, ref, toRefs } from '@vue/reactivity';
import { watch } from '@vue/runtime-core';
import BaseButton from '../components/base/BaseButton.vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';

export default {
  components: { BaseInput, BaseButton },
  name: 'Login',
  setup() {
    const router = useRouter();
    const store = useStore();
    const form = reactive({
      email: '',
      password: '',
    });

    const titleForm = ref('🙉');

    watch(
      () => form.password,
      (password) => {
        if (password.length !== 0) {
          titleForm.value = '🙈';
        } else {
          titleForm.value = '🙉';
        }
      }
    );

    const validateForm = () => {
      return form.email && form.password;
    };

    const onSubmit = async () => {
      console.log(form);
      try {
        if (validateForm) {
          store.dispatch('auth/login', form);
          router.push('/');
        } else {
          router.push('/login');
          alert('No es valido');
        }
      } catch (error) {
        console.error(error);
        router.push('/');
      }
    };

    return { ...toRefs(form), form, titleForm, onSubmit };
  },
};
</script>

<style lang="scss" scoped>
.login {
  display: grid;
  place-content: center;
  height: inherit;
}
.container-form {
  justify-self: center;
  align-self: center;
  text-align: center;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background: var(--background-glass);
  backdrop-filter: var(--backdrop-filter);
  margin: 0 1rem;
  &__title {
    text-transform: uppercase;
    font-size: 5rem;
    padding: 0.5rem;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    padding: 1rem;
  }
}
</style>
