<template>
  <button class="baseButton" :class="theme" :type="type">
    <slot>{{ text }}</slot>
  </button>
</template>

<script>
export default {
  name: 'BaseButton',
  props: {
    text: { type: String, default: '' },
    theme: {
      type: String,
      default: '',
      validate: (value) => ['primary'].includes(value),
    },
    type: {
      type: String,
      default: 'button',
    },
  },
};
</script>

<style lang="scss" scoped>
button {
  background: var(--first-color);
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  &:hover {
    background: #2ecc71;
  }
}
</style>
