<template>
  <header class="header">
    <div class="header__title">
      <router-link to="/" class="header__link">
        <span class="header__item"> The Rick and Morty API </span>
      </router-link>
    </div>
    <nav class="header__nav">
      <ul class="menu">
        <li class="menu__module">
          <span class="menu__link">
            <span class="menu__item"> {{ userName }} </span>
          </span>
        </li>
        <li class="menu__module">
          <router-link to="/favorite" class="menu__link">
            <span class="material-icons-round menu__item"> favorite </span>
          </router-link>
        </li>
        <li class="menu__module">
          <router-link to="/login" class="menu__link">
            <span class="material-icons-round menu__item"> person </span>
          </router-link>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import { computed } from '@vue/runtime-core';
import { useStore } from 'vuex';
export default {
  name: 'BaseHeader',
  setup() {
    const store = useStore();

    const userName = computed(() =>
      store.state.auth.userData?.email
        ? store.state.auth.userData?.email.split('@')[0].toUpperCase()
        : ''
    );
    return { userName };
  },
};
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  justify-content: space-evenly;
  grid-row: 1;
  box-shadow: var(--box-shadow);
  background: var(--background-glass);
  backdrop-filter: var(--backdrop-filter);
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  &__link {
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid transparent;
    &.router-link-exact-active {
      color: #225e43;
      border-bottom: 1px solid #225e43;
    }
  }
}

.menu {
  display: flex;
  &__link {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    &.router-link-exact-active {
      color: #225e43;
      text-decoration: underline;
    }
  }
}
</style>
