<template>
  <section class="search">
    <button id="btn-search" class="search__button" @click="onClick">
      <span class="material-icons-round"> search </span>
    </button>
    <input
      id="search"
      name="search"
      type="search"
      placeholder="Buscar Personajes"
      required
      class="search__input"
      :value="modelValue"
      @input="changeInput"
      @keyup.enter="changeEnter"
    />
  </section>
</template>

<script>
import { ref } from '@vue/reactivity';
export default {
  name: 'BaseSearch',
  props: {
    modelValue: {
      type: [String, Number],
      default: '',
    },
  },
  emits: ['update:modelValue', 'key-enter', 'on-click'],
  setup(_, { emit }) {
    const search = ref('');

    const changeInput = (event) => {
      search.value = event.target.value;
      emit('update:modelValue', event.target.value);
    };

    const changeEnter = (event) => {
      emit('key-enter', event.target.value);
    };

    const onClick = () => {
      emit('on-click', search.value);
    };

    return { changeInput, changeEnter, onClick };
  },
};
</script>

<style lang="scss" scoped>
.search {
  display: flex;
  flex: 0 1 max(45rem);
  box-shadow: var(--box-shadow);
  border-radius: 0.2rem;
  margin: 1rem;
  align-self: center;
  &__button {
    display: flex;
    margin: 0;
    padding: 0.5rem;
    border: none;
    backdrop-filter: blur(25px);
    background-color: var(--background-glass);
  }
  &__input {
    backdrop-filter: blur(25px);
    background-color: var(--background-glass);
    flex: 1 1 auto;
    letter-spacing: 0.1rem;
    border: none;
    color: var(--font-color);
    outline: none;
    &::-webkit-search-cancel-button {
      opacity: 0.6;
      filter: saturate(300%);
      font-size: 0;
      margin: 0;
      padding: 0.5rem 0.7rem;
    }
    &::placeholder {
      color: #333;
      font-size: 0.875rem;
    }
  }
}
</style>
