<template>
  <section>
    <input
      v-bind="$props"
      :type="type"
      :name="name"
      :placeholder="placeholder"
      :value="modelValue"
      @input="changeInput"
      @keyup.enter="changeEnter"
      autocomplete="false"
    />
    <label :for="name">{{ name }}</label>
  </section>
</template>

<script>
export default {
  name: 'BaseInput',
  props: {
    modelValue: {
      type: [String, Number],
      default: '',
    },
    type: {
      type: String,
      default: 'text',
      validate: (value) => ['text', 'number', 'email'].includes(value),
    },
    name: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      default: '...',
      require: false,
    },
  },
  emits: ['update:modelValue', 'key-enter'],
  setup(_, { emit }) {
    const changeInput = (event) => {
      emit('update:modelValue', event.target.value);
    };

    const changeEnter = (event) => {
      emit('key-enter', event.target.value);
    };
    return { changeInput, changeEnter };
  },
};
</script>

<style lang="scss" scoped>
section {
  position: relative;
  height: 3rem;
}

label {
  position: absolute;
  top: -0.9rem;
  left: 1rem;
  padding: 0.1rem 0.5rem;
  background-color: #000;
  font-size: 0.875rem;
  border-radius: var(--border-radius);
  color: #fff;
  transition: 0.3s;
}

input {
  width: 100%;
  height: 100%;
  font-size: var(--input-font-size);
  border: 0.15rem solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 1.25rem;
  background: none;
  outline: none;
  transition: 0.3s;
}

input:focus {
  background: none;
  border: 0.15rem solid var(--first-color);
}
input:focus + label {
  color: var(--first-color);
}

input::placeholder {
  color: var(--placeholder-color);
  font-size: var(--small-font-size);
}

input:invalid:focus:not(:placeholder-shown) {
  border: 0.15rem solid var(--alert);
}

input:invalid:focus:not(:placeholder-shown) + label {
  color: var(--alert);
}

input:invalid:not(:placeholder-shown) {
  border: 0.15rem solid var(--error);
}

input:invalid:not(:placeholder-shown) + label {
  color: var(--error);
}

input:valid:not(:placeholder-shown) {
  border: 0.15rem solid var(--success);
}

input:valid:focus:not(:placeholder-shown) + label {
  color: var(--success);
}

input:valid:not(:placeholder-shown) + label {
  color: var(--success);
}
</style>
