<template>
  <ul class="list-character">
    <li
      class="character"
      v-for="{ id, name, status, species, gender, location, image, favorite } in listFavorite"
      :key="id"
    >
      <div class="character__container-img">
        <img :src="image" loading="lazy" alt="…" width="200" height="200" class="character__img" />
        <button
          @click="
            handleSetCharacter({ id, name, status, species, gender, location, image, favorite })
          "
          class="material-icons-round favorite"
          :class="{ 'favorite--active': favorite }"
        >
          favorite
        </button>
      </div>
      <div class="character__module">
        <p class="character__name-status">{{ name }} • {{ status }}</p>
        <p class="character__species">{{ species }}</p>
        <p class="character__gender">{{ gender }}</p>
        <p class="character__location">{{ location?.name }}</p>
      </div>
    </li>
  </ul>
</template>

<script>
import { ref, watchEffect } from '@vue/runtime-core';
import { useLocalStorage } from '@/hooks/useLocalStorage';
export default {
  name: 'ListCharacter',
  props: {
    listCharacters: {
      type: Array,
      default: () => [],
      required: true,
    },
  },
  setup(props) {
    const KEY = 'ListCharacter';
    const dataLocalStorage = useLocalStorage(KEY);
    const listFavorite = ref([]);

    watchEffect(() => {
      listFavorite.value = props.listCharacters.map((item) => {
        const id = dataLocalStorage.value.find((favorite) => item.id === favorite.id);
        if (id) {
          item['favorite'] = true;
        } else {
          item['favorite'] = false;
        }
        return item;
      });
    });

    function getUniqueListBy(arr, key) {
      return [...new Map(arr.map((item) => [item[key], item])).values()];
    }

    const handleSetCharacter = (character) => {
      if (character?.favorite) {
        dataLocalStorage.value = dataLocalStorage.value.filter((item) => item.id !== character.id);
      } else {
        dataLocalStorage.value.push(character);
        dataLocalStorage.value = getUniqueListBy(dataLocalStorage.value, 'id');
      }
    };

    return { handleSetCharacter, listFavorite };
  },
};
</script>

<style lang="scss" scoped>
.list-character {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  grid-auto-flow: dense;
  list-style: none;
  margin: 1em;
  padding: 0;
}

.character {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  background-color: var(--background-glass);
  box-shadow: var(--box-shadow);
  position: relative;
  border: 2px solid #4e0068;
}

.character__img {
  object-fit: cover;
  width: 100%;
  height: 15rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.favorite {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.25rem;
  color: #333;
  cursor: pointer;
  &:hover {
    color: hsl(285, 100%, 40%);
  }
  &--active {
    color: hsl(285, 100%, 40%);
  }
}

.character__module {
  padding: 1rem;
}

.character__name-status {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-weight: 700;
  color: hsl(285, 100%, 10%);
}

.character__species {
  font-size: 1.5rem;
  color: hsl(285, 100%, 30%);
}

.character__gender {
  color: #4e0068;
}
.character__location {
  font-size: 0.775rem;
  color: #4e0068;
}
</style>
