<template>
  <section class="wrapper">
    <BaseHeader />
    <section class="wrapper__item">
      <router-view />
    </section>
  </section>
</template>
<script>
import BaseHeader from '@/components/base/BaseHeader.vue';
export default {
  components: { BaseHeader },
  setup() {},
};
</script>

<style lang="scss">
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: 55px 1fr;
  & > * {
    grid-column: col-start / span 12;
  }
  &__item {
    grid-row: 2;
    height: calc(100vh - 55px);
  }
}
</style>
